html,
body {
  height: 100%;
}

body {
  background-color: rgba(185, 233, 252, 0.712);
  margin: 0;
  display: flex;
  /* This centers horizontally. */
  justify-content: center;
  /* This centers vertically. */
  align-items: center;
}

.title {
  font-family: cursive;
  color: rgb(241, 125, 200);
  font-size: 80px;
  float: left;
  position: absolute;
  left: 520px;
  top: 0px;
}
